@model IEnumerable<MusicPlayer.ViewModels.SongViewModel>
@{
    ViewData["Title"] = "Моя музыка";
}

<div class="text-center">
    <h1 class="display-4">Моя музыка</h1>
</div>

<div class="d-flex flex-column w-100">
    @foreach (var item in Model)
    {
        <div class="d-flex flex-row w-100">
            <div class="p-2" style="width: 100px">
                <img src="/@item.CoverPath" class="img-fluid" alt="Responsive image">
            </div>
            <div class="p-2">
                <span class="font-weight-bold">@item.Name — </span>
                <span class="font-weight-light">@item.Author</span>
                <form runat="server">
                    <audio controls>
                      <source src="/@item.FilePath" type="audio/mpeg">
                    </audio>
                </form>
            </div>
            <div class="d-flex flex-wrap align-content-center">
                <label class="control-label">Плейлист</label>

                <select id="selectPlaylist" class="form-control" asp-items="@ViewBag.playlists">
                    <option disabled selected>--Выберите Плейлист--</option>
                </select>

                <a id="hyperlink" class="btn btn-success" asp-controller="MyMusic" asp-action="AddToPlaylist" asp-route-SongId="@item.Id">Добавить</a>
                <a class="btn btn-danger" asp-controller="MyMusic" asp-action="DeleteFromMyMusic" asp-route-id="@item.Id">Удалить</a>
            </div>
        </div>
    }
</div>

@section Scripts {
     <script type="text/javascript">
         $(function () {
             $("#selectPlaylist").change(function () {
                 var newurl = $("#hyperlink").attr("href") + "&PlaylistId=" + $(this).val();
                 $("#hyperlink").attr("href", newurl);
             });
         });
     </script>
 }