@model List<SongList>
@{
    ViewData["Title"] = "Моя музыка";
}

<div class="text-center">
    <h1 class="display-4">Моя музыка</h1>
</div>
    <div class="d-flex justify-content-center">
        <form>
            <div class="form-inline form-group">
                <input name="name" class="form-control" placeholder="Название"/>
                <button type="submit" value="Найти" class="btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                    </svg>
                 </button>
            </div>
        </form>       
    </div>
<div class="d-flex justify-content-center">
    @foreach (var item in Model)
    {
        <div class="d-flex justify-content-center">
            <div class="p-2" style="width: 100px">
                <img src="/@item.Song.CoverPath" class="img-fluid" alt="Responsive image">
            </div>
            <div class="p-2">
                <span class="font-weight-bold">@item.Song.Name — </span>
                <span class="font-weight-light">@item.Song.Author.Name</span>
                <form runat="server">
                    <audio controls>
                      <source src="/@item.Song.FilePath" type="audio/mpeg">
                    </audio>
                </form>
            </div>
            <div class="d-flex flex-wrap align-content-center">
                <form asp-controller="MyMusic" asp-action="AddToPlaylist" asp-route-SongId="@item.Song.Id">
                    <div class="form-group">
                        <select name="PlaylistId" asp-items="@ViewBag.playlists" class="form-control">
                            <option disabled selected>--Выберите Плейлист--</option>
                        </select>
                        <div class="d-flex justify-content-between">
                            <button type="submit" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="16" fill="currentColor" class="bi bi-music-note-list" viewBox="0 0 16 16">
                                  <path d="M12 13c0 1.105-1.12 2-2.5 2S7 14.105 7 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                                  <path fill-rule="evenodd" d="M12 3v10h-1V3h1z"/>
                                  <path d="M11 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 16 2.22V4l-5 1V2.82z"/>
                                  <path fill-rule="evenodd" d="M0 11.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 7H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 .5 3H8a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                            </button>
                            <a class="btn btn-danger" asp-controller="MyMusic" asp-action="DeleteFromMyMusic" asp-route-songId="@item.Song.Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    }
</div>

@*@section Scripts {
     <script type="text/javascript">
         $(function () {
             $("#selectPlaylist").change(
                 function () 
                 {
                    var newurl = $("#hyperlink").attr("href") + "&PlaylistId=" + $(this).val();
                    $("#hyperlink").attr("href", newurl);
                 }
             );
         });
     </script>
 }*@